
 @mixin boxRespo{
    width: 400px;
    height: 10vh; 
    font-size: 27px;   
 } 

@mixin fontStyle{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  @mixin primaryColor{
    background-color: rgb(147, 119, 208);
  }
  
  @mixin boxDecor{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px rgb(128, 104, 182);  
    border: 1px solid rgb(128, 104, 182);
  }

  @mixin htwt{
    width: 300px;
    height: 40px;
  }