@use "mixins"; /* Varför funkar det inte? */

@mixin fontStyle{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@mixin fontStyleRespo{
  font-size: 25px;
}

@mixin primaryColor{
  background-color: rgb(147, 119, 208);
}

@mixin boxDecor{
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px rgb(128, 104, 182);  
}

@mixin htwt{
  width: 300px;
  height: 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(181, 156, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 20px;
  @include fontStyle;
}

#form{
  gap:0;
}

#pen-icon{
  width: 15%;
}

#input{
  display:block;
  text-align: center;
  @include htwt;
  @include fontStyle;
}

#btn{
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  @include htwt;
  @include primaryColor;
  @include fontStyle;
}

#sectionContList{
  text-align: center;
  width: 30%;
  @include primaryColor;
  @include boxDecor;
}

#li-list{
  color: black;
  border-radius: 5px;
  list-style-type: none;
}

#li-list:hover{
  background-color: rgb(146, 126, 187);;
  cursor: pointer;
}

#section-doneToDos{
  text-align: center;
  width: 30%;
  text-decoration: line-through;
  @include primaryColor;
  @include boxDecor;
}

@media screen and (max-width: 600px) {
  #pen-icon{
    width: 10%;
  }

  #btn{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    color: white;
    @include fontStyleRespo;
  }

  #input{
    display:block;
    text-align: center;
    width: 300px;
    height: 40px;
    @include fontStyleRespo;
  }
}
