*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(181, 156, 233);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header1{
  text-align: center;
  margin-bottom: 40px;
}

#form{
  text-align: center;
}

#sectionContList{
  text-align: center;
  width: 50%;
  background-color: rgb(147, 119, 208);
}

#ul-list{
  text-align: center;
  width:auto;
  margin-left: 50px;
  border: 2px solid black;
  border-radius: 4px; /* ta bort sen */
}

#li-list{
  color: black;
  border-radius: 5px;
  list-style-type: none;
}

#li-list:hover{
  background-color: rgb(146, 126, 187);;
  cursor: pointer;
}

#section-doneToDos{
  text-align: center;
  width: 50%;
  background-color: rgb(147, 119, 208);
}